<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/mdb.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>

    <header>

        <nav class="navbar fixed-top navbar-expand-md navbar-dark blue-gradient scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="/"><strong>InfoMobile</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        {%if not g.login_flag %}
                        <li class="nav-item">
                            <a href="/login">
                                <button type="button" class="btn btn-outline-light">Sign In</button></a>
                        </li>
                        <li class="nav-item">
                            <a href="/reg">
                                <button type="button" class="btn btn-outline-light">Register</button></a>
                        </li>
                        {% endif %}
                        {% if g.login_flag %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Hello, {{g.name}}</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/dash">Dashboard</a>
                                <a class="dropdown-item" href="/accu">Your Account</a>
                                <a class="dropdown-item" href="/logout">Log Out</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <br><br><br><br>{%if not g.login_flag %}<br>{% endif %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <br><br><br><br>{%if not g.login_flag %}<br>{% endif %}
    <!--Footer-->
    <footer class="page-footer font-small blue fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright: Team Bugfree<br>
            <a href="/about">About Us</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{url_for('static',filename='js/popper.js')}}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{url_for('static',filename='js/mdb.min.js')}}"></script>
    <!-- Library for password encryption -->
    <script type="text/javascript" src="{{url_for('static',filename='js/md5.min.js')}}"></script>

</body>

</html>