{% extends "index/init.html" %}

{% block head %}
{% if g.login_flag %}
<script>
    window.location.href = '/dash';
</script>
{% endif %}
{% endblock %}

{% block content %}
<h1 id="bold_title" class="text-center">Register</h1>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg">
        {%if g.login_flag %}
        {% else %}
        <form class="md-form border border-light p-5" id="reg" onsubmit="regSubmit()" action="#" method="POST">
            <div class="md-form">
                <input type="text" id="materialRegisterFormFirstName" class="form-control" name="user" required>
                <label for="materialRegisterFormFirstName">User name</label>
            </div>
            <div class="md-form">
                <input type="email" id="materialRegisterFormEmail" class="form-control" name="email" required>
                <label for="materialRegisterFormEmail">E-mail</label>
            </div>
            <div class="md-form">
                <input type="password" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
                    id="pwd" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$" required>
                <label for="pwd">Password</label>
            </div>
            <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                A valid password is an 8 to 16-bit combination of letters and numbers
            </small>
            <div class="md-form">
                <input type="password" required id="confirm" class="form-control" onkeyup="return isEqual()"
                    aria-describedby="materialRegisterFormPasswordHelpBlock"
                    pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$">
                <label for="confirm">Confirm Password</label>
                <small id="notEqu" class="form-text text-danger mb-4" hidden>The passwords you entered are not
                    consistent</small>
            </div>
            <input hidden id="real_pwd" name="pwd" value="">
            <div class="md-form">
                <select class="browser-default custom-select" id="select" name="question" required aria-placeholder="">
                    <option value="" disabled selected>Choose your security question</option>
                    {% for i in range(question_list|length) %}
                    <option value={{i}}>{{question_list[i]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="md-form">
                <input type="text" id="input" class="form-control" placeholder="" name="answer" required>
                <label for="input">Answer</label>
            </div>
            <small id="helper" class="form-text text-muted mb-4">Your answer will be used when resetting your
                password</small>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}{% if message != None %}
            <small class="form-text text-danger mb-4">{{ message }}</small>
            {% endif %}{% endfor %}
            {% endif %}
            {% endwith %}
            <button class="btn purple-gradient btn-info btn-block my-4" type="submit" onsubmit="return regSubmit()"
                id="submit">Sign
                Up</button>
            <div class="text-center">
                <p>Already have an account?
                    <a href="/login">Sign In</a>
                </p>
            </div>
        </form>

        {% endif %}
    </div>
    <div class="col-lg-3"></div>
</div>

<script>
    function isEqual() {
        var pwd1 = document.getElementById('pwd').value;
        var pwd2 = document.getElementById('confirm').value;
        if (pwd1 != pwd2) {
            document.getElementById('notEqu').removeAttribute('hidden');
            document.getElementById('submit').disabled = 'disabled';
            return false;
        }
        if (pwd1 == pwd2) {
            document.getElementById('notEqu').hidden = 'hidden';
            document.getElementById('submit').removeAttribute('disabled');
            return true;
        }
        console.log(pwd1 != pwd2)
    }
    function regSubmit() {
        var input_pwd = 'cdsnji' + document.getElementById('pwd').value + '1561d';
        console.log(input_pwd);
        var hash = md5(input_pwd);
        document.getElementById('real_pwd').value = hash;
        console.log(hash);
    }
</script>
{% endblock %}