@font-face {
    font-family: 'Gruppo';
    src: url('../font/Gruppo.ttf');
}

.navbar-brand {
    font-family: 'Gruppo';
    font-size: xx-large;
    line-height: 80%;
    vertical-align: text-top;
    padding: 0%;
}

.navbar-brand-centered {
    font-family: 'Gruppo';
    font-size: xx-large;
    line-height: 80%;
    vertical-align: text-top;
    padding: 0%;
}

#thin {
    font-weight: lighter;
}

.jumbotron {
    margin: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#intro {
    margin-right: 6px !important;
    margin-bottom: 24px !important;
    font-size: xx-large;
}

#bold_title,
#bold_brand {
    font-family: 'Gruppo';
}

.justify-content-between {
    margin-left: 24px !important
}

#danger {
    margin-top: 24px !important
}

#confirm_message {
    font-weight: bolder !important;
    background: linear-gradient(330deg, #143be9 25%, #9952e0 50%, #e05252 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    color: white;
}

.navbar-brand-centered:hover {
    color: white;
}

.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.navbtn {
    background: rgba(255, 255, 255, 0.164);
}

@media screen and (max-width:620px) {
    .navbar-brand-centered.show {
        animation: fade 1s;
        animation-fill-mode: forwards;
    }

    @keyframes fade {
        from {
            opacity: 1;
            /* visibility: hidden; */
        }

        to {
            pointer-events: none;
            opacity: 0;
            /* visibility: hidden; */
        }
    }

    .navbar-brand-centered {
        animation: appear 1s;
        animation-fill-mode: forwards;
    }

    @keyframes appear {
        from {
            pointer-events: none;
            opacity: 0;
            /* visibility: hidden; */
        }

        to {
            opacity: 1;
            /* visibility: hidden; */
        }
    }

}

@media screen and (min-width: 400px) and (max-width: 767px){
    .navbar .dropdown-menu{
        position: static !important
    }
}

.top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 3em 3em 0;
    border-radius: 50%;
    padding: .25em;
    width: 50px;
    height: 50px;
    background-color: rgb(194, 243, 207);
  }
  .top-link.show {
    visibility: visible;
    opacity: 0.7;
  }
  .top-link.hide {
    visibility: hidden;
    opacity: 0;
  }
  .top-link svg {
    fill: rgba(0, 0, 0, 0.699);
    width: 24px;
    height: 12px;
  }
  .top-link:hover {
    background-color: rgb(194, 243, 207);
  }
  .top-link:hover svg {
    fill: #000000;
  }
  
  .screen-reader-text {
    position: absolute;
    clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .screen-reader-text:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000;
    clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
  }