.navbar-brand{
    font-family: 'Gruppo', cursive;
    font-size: xx-large;
    line-height: 80%;
    vertical-align: text-top;
    padding: 0%;
}

.jumbotron{
    margin: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#intro{
    margin-right: 6px !important;
    margin-bottom: 24px !important;
    font-size: xx-large;
}

#bold_title{
    font-family: 'Gruppo', cursive;
}